<div class="blog-card ">
    <!-- Blog Cover Image -->
    <img class="blog-image" [src]="article.social_image || 'assets/default-image.jpg'" alt="Blog Cover">
  
    <div class="blog-info">
    <!-- Category -->
    <span class="category">{{ article.tag_list.length > 0? article.tag_list[0] : 'Discuss' }} </span>
  
    <!-- Blog Title with External Link -->
    <h2 class="blog-title">
      {{ article.title }}
      <a [href]="article.url" target="_blank" class="external-link">↗</a>
    </h2>
  
    <!-- Blog Description -->
    <p class="blog-description">
      {{ article.description }}
    </p>
    </div>

  
    <!-- Author Info -->
    <div class="author-info">
      <img class="author-avatar" [src]="article.user.profile_image" alt="Author">
      <div class="author-details">
        <span class="author-name">{{ article.user.name }}</span>
        <span class="publish-date">{{ article.readable_publish_date }}</span>
      </div>
    </div>
  </div>
  