@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-BlackItalic.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Black.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Light.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Italic.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-LightItalic.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-ThinItalic.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Thin.woff2') format('woff2'),
        url('../../../assets/fonts/Inter/Inter-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

